# Auto detect text files and perform LF normalization
* text=auto

# Binary files
*.hex binary
*.bin binary
*.srec binary
*.elf binary
*.axf binary
*.exe binary
*.dll binary
*.pex binary
*.svd binary
# Line endings
*.sh text eol=lf
*.cmake text eol=lf
*.c text eol=lf
*.h text eol=lf
*.S text eol=lf
*.ld text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
tools/** filter=lfs diff=lfs merge=lfs -text
